<div class="row" style="margin-left: 20px; margin-right: 20px">
    <div class="column" style="border: 2px solid black">
        <table>
            <tr>
                <td>ID</td>
                <td>
                    <input [(ngModel)]= "adminprod.id" type="text">
                </td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td>
                    <input [(ngModel)]= "adminprod.productName" type="text">
                </td>
            </tr>
            <tr>
                <td>Product Description</td>
                <td>
                    <input [(ngModel)] ="adminprod.productDescription" type="text">
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <input [(ngModel)] ="adminprod.category" type="text">
                </td>
            </tr>
            <tr>
                <td>Product Image</td>
                <td>
                    <input [(ngModel)] ="adminprod.productImage" type="text">
                </td>
            </tr>
            <tr>
                <td>Product MRP</td>
                <td>
                    <input [(ngModel)] ="adminprod.productMrp" type="text">
                </td>
            </tr>
            <tr>
                <td>Product Discount</td>
                <td>
                    <input [(ngModel)] ="adminprod.productDiscount" type="text">
                </td>
            </tr>
            <tr>
                <td>Product Selling Price</td>
                <td>
                    <input [(ngModel)]="adminprod.productSellingPrice" type="text">
                </td>
            </tr>

            <input type="submit" class="btn btn-primary" style="margin: 5px;" (click)="AddProduct()">
            <input type="button" class="btn btn-success"  style="margin: 5px;" (click)="Show()" value="Show" />
        </table>
    </div>
    <div class="column" style="margin-left: 20px; margin-top: 10px">

        <table border="2">
            <tr>
                <td> ID</td>
                <td> Name</td>
                <td> Description</td>
                <td> Category</td>
                <td> Image</td>
                <td> Mrp</td>
                <td> Discount</td>
                <td> productSellingPrice</td>
            </tr>
            <tr *ngFor="let item of adminprods">
                <td>{{item.id}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.productDescription}}</td>
                <td>{{item.category}}</td>
                <td>{{item.productImage}}</td>
                <td>{{item.productMrp}}</td>
                <td>{{item.productDiscount}}</td>
                <td>{{item.productSellingPrice}}</td>

            </tr>
        </table>
    </div>
</div>